* {
  box-sizing: border-box;
  margin:0;
  padding: 0;
}
body {
  background: black;
}
img {
  display: block;
  margin: 0 auto;
}
.box-kitten {
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  height: 100vh;
  width: 100%;
  background-image: url(../assets/images/Landscape.jpg);
  justify-content: center;
  align-items: flex-end;
}
.gatito {
  width: 50%;
  height: 29%;
  background-repeat: no-repeat;
  background-image: url(../assets/images/kitten-large.png);
  background-size: contain;
}

@media(max-width: 768px) {
  .box-kitten {
    background-image: url(../assets/images/dawn.png);
  }
  .gatito {
    background-image: url(../assets/images/kitten-medium.png);
  }
}
@media(max-width: 480px) {
  .box-kitten {
    background-image: url(../assets/images/maxresdefault.jpg);
  }
  .gatito {
    background-image: url(../assets/images/kitten-small.png);
  }
}
