* {
  box-sizing: border-box;
  margin:0;
  padding: 0;
}
body {
  background: black;
}
img {
  display: block;
  margin: 0 auto;
}
.box-kitten {
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  height: 100vh;
  width: 100%;
  justify-content: center;
  align-items: flex-end;
  background-image: url(../assets/images/mañana.jpg);
}

@media(max-width: 1024px) {
  .box-kitten {
    background-image: url(../assets/images/tarde.png);
  }
@media(max-width: 640px) {
  .box-kitten {
    background-image: url(../assets/images/noche.jpg);
  }
}
